.h1-white {
    font-size: 10rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;

    @include resize(phone) { font-size: 4rem };
}

.h2-white {
    font-size: 2rem;
    font-weight: 200;
    color: $color-white;
}

.h2-green {
    font-size: 2rem;
    font-weight: 100;
    color: $color-primary;
}

.text-green {
    color: $color-primary;
}