.form {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 10rem));
    grid-template-rows: repeat(3, minmax(min-content, 5rem));
    grid-gap: 4rem;

    @include resize(phone) {
        grid-template-columns: 25rem;
        grid-template-rows: repeat(3, minmax(min-content, 10rem));
    };

    &__display {
        grid-column: 1 / span 2;
        grid-row: 2 / span 2;
        
        @include resize(phone) {
            grid-column: auto;
            grid-row: auto;
        }

        form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 5rem 6rem;
            grid-gap: 6rem;
        }
    }

    &__selector {
        display: block;
        padding: 0 5rem 0 2rem;

        appearance: none;

        background: url($bg-selector) no-repeat 95% center; 
        color: $color-white;
        background-color: $color-black;
        border-radius: .4rem;
        border: 1px solid $color-white;

        @include resize(phone) {
            justify-self: center;
            align-self: center;
            padding: 2rem 5rem 2rem 2rem;
        }
    }

    &__result {
        justify-self: center;
        align-self: center;
    }

    &__button {
        grid-column: 1 / span 2;
        grid-row: 2 / 3;

        justify-self: center;
        align-self: center;
    }
}

